h1{
  text-align: center;
  font-family: "Playfair Display",sans-serif;
  color: #39c991 !important;
}
.add-product{
  text-align: center;
}

/*****************************************************************************************************************************/

.packageImg{
  /*height: 800px;
  width: 1100px;
  border: 1px solid black;*/
  height: 600px;
  width: 600px;
  display: "inline-block";
  position: relative;
  left: 200px;
  top: 50px;
}
.enquire-box {
  margin: 0 auto;
  width: 400px;
  padding: 40px;
  background: white;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  position: relative;
  left: 300px;
  display: "inline-block";
}

.enquire-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.enquire-box .field {
  position: relative;
}

.enquire-box .field input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.enquire-box .field label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: .5s;
}

.enquire-box .field input:focus ~ label,
.enquire-box .field input:valid ~ label {
  top: -20px;
  left: 0;
  color: #db6150;
  font-size: 12px;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

.btn-5 {
  position: relative;
  color: teal;
  padding: 18px 55px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 30px;
  background: white;
  overflow: hidden;
  width: 234px;
  left: 30px;
  /*top: 30px;*/
}

.btn-5::before {
  content: "";
  position: absolute;
  top: -5%;
  right: -20%;
  transform: rotate(15.6deg);
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  border-bottom: 112px solid #007989;
  z-index: 9;
}

.btn-5::after {
  content: "";
  position: absolute;
  top: -155%;
  right: -10%;
  transform: rotate(14.57deg);
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  border-bottom: 112px solid #00b3b3;
}

.btn-5 span {
  position: absolute;
  top: -70%;
  left: -22%;
  transform: rotate(1.42deg);
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  border-bottom: 112px solid #00857D;
}
