<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>
        <div class="col-lg-10">
            <a routerLink="/home" class="btn btn-sm btn-dark mb-3 ">Back</a>
        </div>
        <img src="assets/img/about.png" alt="" class="about__img">
        <br><br>
9
        <h2 class="about__title">Who we really are & why choose u</h2>
        <p class="about__description">
            We have over 4000+ unbiased reviews and our customers 
            trust our plant process and delivery service every time.
        </p>
        <br>
        <p class="about__details-description">
            <i class='bi bi-check-square-fill about__details-icon'></i>
            We always deliver on time.
        </p>
        <br>
        <p class="about__details-description">
            <i class='bi bi-check-square-fill about__details-icon'></i>
            We give you guides to protect and care for your plants.
        </p>
        <br>
        <p class="about__details-description">
            <i class='bi bi-check-square-fill about__details-icon'></i>
            We always come over for a check-up after sale.
        </p>
        <br>
        <p class="about__details-description">
            <i class='bi bi-check-square-fill about__details-icon'></i>
            100% money back guaranteed.
        </p>
        <br/>
    

</div>

