<div class="container mt-5 mb-5">

    <div class="row">
        <h1 class="text-center">CATEGORIES</h1>
        <div class="col-lg-10">
           <!---<a routerLink="/home" class="btn btn-sm btn-dark mb-3 ">Back</a>-->
        </div>

        <div class="col-lg-4" >

            <div class="productbox mt-3 mb-3">
                <img src="https://www.easternleaf.com/v/vspfiles/photos/800560-03-2.jpg">
                <h1>Bonsai</h1>
                <br/>
                <a class="buybtn" [routerLink]="['/bonsai1']">Shop Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>
        </div>
        <div class="col-lg-4" >
            <div class="productbox mt-3 mb-3">
                <img src="https://schoolgardening.rhs.org.uk/getmedia/aaa3788f-c83b-4201-bd1e-2ac525a14b0c/A-seed-packet-jargon?width=960&height=640&ext=.jpg">
                <h1>Seeds</h1>
                <br/>
                <a class="buybtn" [routerLink]="['/seed1']">Shop Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>
        </div>
        <div class="col-lg-4" >
            <div class="productbox mt-3 mb-3">
                <img src="https://images.meesho.com/images/products/138905546/zbepn_512.webp">
                <h1>Pots & Planters</h1>
                <br/>
                <a class="buybtn" [routerLink]="['/pot1']">Shop Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>
        </div>
        <div class="col-lg-4" >
            <div class="productbox mt-3 mb-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLhI4it8_vo8uQEU6eR8s34zkyMK5yTwSbYA&usqp=CAU">
                <h1>Accessories</h1>
                <br/>
                <a class="buybtn" [routerLink]="['/accessories1']">Shop Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>
        </div>
        <div class="col-lg-4" >
            <div class="productbox mt-3 mb-3">
                <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-set-of-5-garden-tool-kit-gardening-tools-559622_600x600.jpg?v=1679751729">
                <h1>Tools</h1>
                <br/>
                <a class="buybtn" [routerLink]="['/tool1']">Shop Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>
        </div>
        <div class="col-lg-4" >
            <div class="productbox mt-3 mb-3">
                <img src="http://cdn.shopify.com/s/files/1/0579/7924/0580/articles/shutterstock_301313486.jpg?v=1661870861">
                <h1>Fertilizers</h1>
                <br/>
                <a class="buybtn" [routerLink]="['/fertilizer1']">Shop Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>
        </div>
            <div class="col-lg-4" >
            <div class="productbox mt-3 mb-3">
                <img src="https://cdn.wallpapersafari.com/10/61/QoIb16.jpg">
                <h1>Plants</h1>
                <br/>
                <a class="buybtn" [routerLink]="['/plant1']">Shop Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>
        </div>
            <div class="col-lg-4" >
            <div class="productbox mt-3 mb-3">
                <img src="https://cdn.shopify.com/s/files/1/0044/2679/3078/products/FS067_1024x1024.jpg?v=1621293226">
                <h1>Stands</h1>
                <br/>
                <a class="buybtn" [routerLink]="['/stand1']">Shop Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>

        </div>

    </div>

</div>
